<html>
<link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
  <head>
    <title>{{title}} - Glasgow Books</title>
    <body>
        <header>
      <h1>Glasgow Books</h1>
    </header>    
          <!-- <nav>
        <ul>
          <li> <a href="/">Home </a></li>
          <li> <a href="/">About</a></li>
          <li>  <a href="/">Books</a></li>
        </ul>
      </nav> -->

      <h2>Customer Orders</h2>
      {% for order in orders %}
      <div>
        <p>
          <a href="order/{{loop.index-1}}">{{order.customer_name}} ordered {{order.book_title}} on
            {{order.date}} for £{{order.total}}
          </a>
        </p>
      </div>
      {%endfor%}
    </body>
  </head>
</html>
